
.navbar-lewagon {
  justify-content: space-between;
  background-color: #262626;
  height: 4.5rem;
  border-bottom: 3px solid gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

#typed {
  color: white;
  font-size: 32px;
}

.container{
  margin-left: auto;
  margin-right: auto;
}
.container h1{
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 5rem;
  line-height: 90px;
}


.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/mural1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
  min-height: 90vh;
}
.banner-1 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
  min-height: 90vh;
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

/*.banner-2 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/mural1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
  min-height: 20vh;
}*/

body {
  background-color: #262626 !important;
}

.page-seperation{
  border-top: 1px solid rgba(255,255,255.1);
}
.container-drive{
  height: 200px;
  width: 1300px;
  background-size: cover;
  background-position: center;
  margin-left: 65px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
.container-drive h2{
  margin-top: 80px;
  margin-bottom: 0px !important;
  color: white;
}
.cover {
  margin-top: 50px;
  margin-bottom: 15px;
  object-fit: cover;
  width: 100%;
  height: 250px;
  text-align: center;
 }
 .centered {
  position: fill-p
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.card{
 border: none !important;
 background-color: #262626;
 font-family: $body-font;
 margin-top: 10px;
 margin-bottom: 50px;
 height: 400px !important;

}

.card-body {
 padding: 1.5rem 0;
 background-color: #262626;
 text-align: center
}

.card-text {
 color: white;
 font-size: $font-text;
}

.card-img-top {
 height: 20rem;
 object-fit: cover;
}



.card-image-left img {
  height: 250px;
  width: auto;
  margin-right: 5rem;
  margin-left: 5rem;
}

.container-black{
  background-color: #262626 !important;
}
.container-cards{
  padding-top: 15px;
  background-color: #262626;
}
.card-title{
  color: white;
  font-style: bold;
  font-size: 25px;
}

.contact-info p{
  color:white;
  font-style: bold;
  text-align: left;

}

.card p{
  text-align: center;
  font-size: 18px;
}

.card-second-banner{
  height: 150px !important;
}

.mcgill{
height: 200px;
width: 200px;
}

.desautels{
  height: 100px !important;
  width: 250px !important;
}
.fit{
  height: 120px !important;
  width: 120px !important;
  margin-left: 10rem !important;
  margin-right: 8rem !important;

}
/*.card {
  background-color: #262626 !important;
  border: 0px !important;
}
.card-body{
  border-width: 0px;
}



.card-group {
  justify-content: center;
}

.card-text {
  color: white;
}


*/


  /*banner-drive{
  position: absolute;
  width: 1372px;
  height: 30vh;
  left: 34px;
  top: 850px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(images/drive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-drive h1{
  text-align: center;
}

.container-drive{
  width: 100%;
  height: 30vh;
  background-color: #262626;
}
.experience-cards{
  display: flex;
  flex-direction: row;

}

.card-img-top{
  height: 300px;
}
*/
